.posting-container{
    margin-top: 210px;
    margin-left: 8%;
}

.postings-box{
    display: inline-block;
    width: 1000px;
    height: 60px;
    background: #ffff;
    display: flex;
    top: 160px;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    position: relative;
    left: 10px;
    transition: .5s;
}

.postings-box:hover{
    transform: scale(1.01);
}

.posting-container h2{
    color: #000000;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: normal;
    position: relative;
    left: 10px;
    top: 120px;
}

.postings-box h3{
    font-weight: normal;
    font-family: "Playfair Display", Georgia, serif;
}

.DSP-BUTTON{
    position: relative;
    left: 300px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    font-family: "Playfair Display", serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    background: #ffff;

}

.DSP-BUTTON:hover{
    background-color: #006199; /* Section background color */
    color: #ffffff; /* White text on hover */
}

@media screen and (max-width: 1024px) and (max-height: 1366px){
    .posting-container{
        margin-top: 100px;
        
    }

    .postings-box{
        width: 800px;
    }
}