.contact-section{
    height: 100vh;
    width: auto;
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 0%;
    padding: 40px;
    border-radius: 0px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center; 
    overflow-x: hidden;
}

.left-side{
  margin-top: 7%;
  text-align: left;
  position: absolute;
  left: 100px;
  font-size: 1.5rem;
  margin-left: 8%;
}

.right-side{
    margin-top: 7%;
    position: relative;
    right: 300px;
    font-size: 1.5rem;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

@media screen and (max-width: 1674px){
    .vertical-line1{
        display: none;
    }

    .contact-section{
        align-items:center;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .right-side{
        position: relative;
        right: 120px;
    }

    .left-side{
        position: relative;
        bottom: 60px;
    }

    .input-group{
        
        
    }
}

.icon-home{
  color: #006199;
  position: absolute;
  left: 432px;
  top: 0;
  margin-bottom: 2em;
  z-index: 1000;
}

.plus-info{
  margin-top: 9em;
  position: relative;
  left: 310px;
  text-align: center;
}

.plus-info p{
  font-size: 1.8rem;  /* Change this value to your desired font size */
  margin: 2em 0;
  padding: 0;
}

.dots{
  text-indent: -1em;
  overflow: hidden;
  padding-right: 1em;
}


.vertical-line1{
    border-left: 1px solid #000000; /* This creates the line */
    height: 86%; /* Adjust based on how tall you want the line to be */
    position: absolute;
    left: 50%; /* Adjust this to move the line left or right */
    top: 3%; /* Adjust this to move the line up or down */
    min-height: 100px;  /* You can adjust this value based on your requirements */
    z-index: 1;
    left: 50%;
  }

  .input-group label{
    display: block;
    margin-bottom: 10px;
  }


.input-group input {
  width: 60%; /* width of the input fields */
  /* other styles for input fields */
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}
.input-group input#email {
  width: 70%; /* width of the input fields */
  /* other styles for input fields */
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.input-group{
  
  margin-top: 4%;
}

.input-group textarea#message{
  height: 300px;
  width: 550px;
  max-width: 100%;
  resize: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  color: #333;

}

.button-group {
    margin-top: 5%; /* Add some space above the button */
}

.button-group{
  font-size: 1em;
  font-family: "Playfair Display", serif;
  padding: 0.75rem 1.5rem; /* Replaces width and height */
  color: #ffffff; /* Same color as the section background */
  background-color: #006199; /* Section background color */
  font-weight: 560; /* Slightly bold font */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  cursor: pointer; /* Changes the cursor on hover */
  text-decoration: none; /* Removes underline if the button is a link */
}

.button-group:hover {
    background-color: #ffffff; /* Section background color */
    color: #000000; /* White text on hover */
  }

.spinner{
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}  

@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}